.heading {
  background-color: #E3FFFC;
  width: 100%;
  margin-top: 150px;
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom:20px;
  font-family: Itim;
  font-weight: bold;
  color: #07BEB8;
  line-height: 48px;
}

.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.box {
  width: 275px;
  height: 255px;
  background-color: #E3FFFC;
  border-radius: 30px;
  padding: 20px;
  padding-top: 10px;
  text-align: center;
  margin: 30px;
  font-family: Itim;
  color: #07BEB8;
  font-size: 17px;
  font-weight: bold;
  line-height: 150%;
}

.box:hover {
  background-color: #2E988D;
  color: #FDFEF4;
}
.name {
  font-size: 22px;
  margin-bottom: -5px;
}

a{
  text-decoration: none;
}
